@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* This styles the main scrollbar */
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #0b285c; /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
  border: 3px solid #f1f1f1; /* creates padding around scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #081b3f; /* color of the scroll thumb when hovered */
}


html {
  font-size: 60%;
  box-sizing: border-box;
  transition: 0.5s ease;
  scroll-behavior: smooth;

}

@media screen and (max-width: 460px) {
  html {
    font-size: 45%;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center;
    align-self: center; */
  }

}



@media screen and (max-width: 768px) {
  html {
    font-size: 45%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* align-self: center; */
  }
}

body {
  font-family: "Poppins", sans-serif;
  background: #081b3f;
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
  height: 100vh;
  transition: 0.5s ease;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-image: url("./assets//backGround.svg");
  /* background: url(./assets/backGround.svg); */

}
a {
  all: unset;
}


